@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --color-table-header: #deb5b5;
  --color-table-rows: #CDCDCD;
}

@layer base {
  html,
  body {
    font-family: var(--font-roboto);
  }
}
