.NotificationsComponent {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
}

.notification-title {
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: bold;
}

.Notifications {
  position: relative;
  border: 2px dashed #e1003c;
  padding: 20px;
  background: white;
  width: 400px;
}

.Notifications p {
  margin: 0 0 10px 0;
  font-size: 1rem;
}

.Notifications ul {
  list-style-position: inside;
  padding-left: 0;
  margin: 10px 0 0 0;
}

.Notifications li {
  margin: 5px 0;
}
