@import 'tailwindcss';
@import '@fontsource/roboto';

@theme {
  --font-family: Roboto, sans-serif;
  --color-table-header: #deb5b5;
  --color-table-rows: #CDCDCD;
}

@layer base {
  * {
    font-family: var(--font-family);
  }
}
