.App-header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #e1003c;
  padding: 1rem;
}

.App-header img {
  height: 200px;
  width: 200px;
}

.App-header h1 {
  color: #e1003c;
  margin-left: 1rem;
}