.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #e0354b;
  border-bottom: 3px solid #e0354b;
  font-size: 1.4rem;
  padding-bottom: 20px;
}

.App-header img {
  height: 200px;
  width: 200px;
  margin-right: 20px;
}

.App-header h1 {
  font-size: 2.2rem;
}
